@model IEnumerable<ThomasGreg.Entidade.Cliente>

@{
    ViewData["Title"] = "IndexCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cliente</h1>
<p>
    <a asp-action="Add">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOGOTIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_CADASTRO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null) 
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_CLIENTE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STATUS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOGOTIPO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DATA_CADASTRO)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                    }
            }
        </tbody>
</table>
